@import '../../../../assets/scss/flex';
@import '../../../../assets/scss/display';

.feed-container {
  padding: 7px 14px 0 21px;
  border-left: 2px solid rgb(228, 234, 238);
  @include flex-column(column, 8px);
  overflow-y: auto;

  .feeds-content {
    padding: 10px 5px 0 10px;
    border-radius: 5px;

    @include flex-column(column, 5px);

    .feeds-icon {
      display: flex;
      justify-content: space-between;

      .ellipse-icon {
        position: relative;

        .popup-content {
          display: none;
        }
      }
    }

    .delete-display {
      @include flex-column(column, 5px);
    }

    .comment-section {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      @include flex-column(row, 1rem);
      align-items: center;
    }

    .comment-container {
      width: 100%;
      @include flex-column(column, 0px);
      display: none;


    }

    &:hover {
      background: rgb(247 247 247);
    }
  }
}
