<div class="feed-container">
    <h3>News Feeds</h3>

    <div class="feeds-content" *ngFor="let item of data">
        <!-- <div class="feeds-header">
            <span class="span-logo">{{item.logo}}</span>
            <span class="span-title">{{'r/' + item.name}}</span>
        </div> -->
        <app-logocontent [logo] = "item.logo" [title] = "item.name">

        </app-logocontent>

        <div class="feeds-object">
            <p>{{item.content}}</p>
            <img src={{item.img}} alt="">
        </div>

        <div class="comment-section">
            <app-upvotes [upvoteCount] = "item.upvoteCount">
                
            </app-upvotes>

            <app-comment [commentCount] = "item.commentCount" (onClick)="displayComment()">
                
            </app-comment>
        </div>
        
        <div class="comment-container" [ngStyle]="{display: hiddenComment? 'block' : 'none'}">
            <div class="comment-input">
                <div class="input-part">
                    <app-input inputText="Add Comment" type="text" class="app-input">
                        
                    </app-input>
                </div>
        
                <div class="comment-button">
                    <app-button class="save-button" styles="third" [ngStyle]="{color: 'black'}" (onClick)="saveComment()" >
                        Save
                    </app-button>
        
                    <app-button class="cancel-button" styles="fourth" (onClick)="cancelButton()">
                        Cancel
                    </app-button>
                </div>
            </div>
            <div *ngFor="let cmt of item.comment">
                <app-comment-section  [logo]="cmt.logo" [title]="cmt.topic" [body]="cmt.body" [upvote]="cmt.upvote">
                </app-comment-section>
            </div>
        </div>

    </div>
</div>