* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: none;
}

body {
  background: #dfe9f5;
}

.navbar {
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  overflow: hidden;
  transform: width 0.2s ease;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);

  .items {
    ul {
      li {
        .logo {
          display: flex;
          text-align: center;
          transition: all 0.5s ease;
          margin: 10px 0px 0px 10px;

          img {
            width: 45px;
            height: 45px;
            border: 0.5px solid black;
            border-radius: 50%;
          }

          span {
            font-weight: bold;
            padding-left: 15px;
            font-size: 18px;
            text-transform: uppercase;
          }
        }

        a {
          position: relative;
          color: rgb(85, 83, 83);
          font-size: 14px;
          display: table;
          width: 300px;
          padding: 10px;

          &:hover {
            background: #eee;
          }

          i {
            position: relative;
            width: 70px;
            height: 40px;
            top: 14px;
            font-size: 20px;
            text-align: center;
          }

          .nav-item {
            position: relative;
            top: 12px;
            margin-left: 10px;
          }


        }

        .logout {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  &:hover {
    width: 280px;
    transition: all 0.5s ease;
  }
}
