<!-- <nav>
  <a class="button" routerLink="/home">Home</a>
  <a class="button" [routerLink]="['/feeds']">Feeds</a>
  <a class="button" routerLink="/feeds">Feeds</a>
</nav> -->


<div class="navbar">
  <div class="items">
    <ul>
      <li>
        <a routerLink="/home">
          <span class="nav-item">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/feeds">
          <span class="nav-item">Feeds</span>
        </a>
      </li>
      <li>
        <a routerLink="/" (click)="onLogout()">
          <span class="nav-item">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</div>
