@import "../../../../assets/scss/flex";

.reddit-container{
    padding: 8px;
    border-bottom: 2px solid rgb(228, 234, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .app-logo{
        @include display-flex;
    }

    .app-username{
        @include display-flex;
    }

    .search-component{
        width: 30%;
    }
}