<div class="comment-input">
    <div class="input-part">
        <app-input inputText="Add Comment" type="input" class="app-input" (inputChanged)="updateComment($event)">
        </app-input>
    </div>

    <div class="comment-button">
        <app-button class="save-button" styles="third" [ngStyle]="{color: 'black'}" (onClick)="saveComment(i)">
            Save
        </app-button>

        <app-button class="cancel-button" styles="fourth" (onClick)="cancelButton(i)">
            Cancel
        </app-button>
    </div>
</div>
<div *ngFor="let cmt of item.comment; let c = index">
    <app-comment-section [logo]="cmt.logo" [title]="cmt.title" [body]="cmt.body" [upvote]="cmt.upvote"
        (deleteComment)="onDelete(i,c)">
    </app-comment-section>
</div>