@import '../../../../assets/scss/display';

.reddit-component{
    width: 100%;
    @include flex-column(row, 8px);
    .navbar-container {
        width: 35%;
    }
    
    .feeds-container {
        width: 100%;
    }
}