<div class="feed-container">
    <h3>News Feeds</h3>
    <div class="feeds-content"  *ngFor="let item of data; let i = index;">
        <div class="feeds-icon">
            <app-logocontent [logo]="item.logo" [title]="item.name">
            </app-logocontent>

            <div class="ellipse-icon">
                <app-ellipse-icon (iconClick)="iconClick(i)">
                </app-ellipse-icon>

                <div class="popup-content" [ngStyle]="{display : displayPopup[i] ? 'block' : 'none'}">
                    <app-popup [i]="i" [displayContent]="displayContent" [displayPopup]="displayPopup" [id]="item.id">
                    </app-popup>
                </div>
            </div>
        </div>

        <div *ngIf="!displayContent[i]; else elseBlock">
            <app-feed-item [item]="item" [blurContent] = 'blurContent' [i]="i">
            </app-feed-item>
        </div>

        <ng-template #elseBlock>
            <app-delete-component [blurContent] = 'blurContent'  [displayContent]="displayContent" [i]="i">
            </app-delete-component>
        </ng-template>


        <div class="comment-section">
            <app-upvotes [upvoteCount]="item.upvoteCount">
            </app-upvotes>

            <app-comment [commentCount]="item.commentCount" (onClick)="displayComment(i)">
            </app-comment>
        </div>


        <div class="comment-container" [ngStyle]="{display: hiddenComments[i]? 'block' : 'none'}">
            <app-edit-comment [item]="item" [i]="i" [hiddenComments]="hiddenComments">
            </app-edit-comment>
        </div>
    </div>
</div>