@import '../../../assets/scss/flex';
@import '../../../assets/scss/display';

.comment-container {
  @include flex-column(row, 7px);
  align-items: center;
  background: rgb(228, 234, 238);
  padding: 11px 15px 11px 15px;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}
