@import "../../../../assets/scss/display";

.comment-content {
  margin-top: 1rem;
  width: 100%;
  @include flex-column(column, 10px);
  padding: 5px;
  background: #ffffff;
  border-radius: 7px;

  .input-edit{
    width: 50%;
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid black;
    padding: 5px;
  }

  .comment-footer{
    @include flex-column(row, 35px);
    align-items: center;

    .app-button{
      @include flex-column(row, 5px);
      width: 40%;

      .delete-button,
      .save-button,
      .cancel-button {
        width: 40%;
      }
    }
  }
}
