<div class="comment-content" >
    <app-logocontent [logo]="logo" [title]="title" [ngStyle]="{color: 'black'}">
    </app-logocontent>

    <span *ngIf="!isEditing">{{ body }}</span>
    <input *ngIf="isEditing" [(ngModel)]="editedBody" class="input-edit"/>

    <div class="comment-footer">
        <app-upvotes [upvoteCount]="upvote"></app-upvotes>

        <div class="app-button">
            <div class="delete-button">
                <app-button *ngIf="!isEditing" type="button" styles="fourth" (onClick)="deleteEdit()">
                    Delete
                </app-button>
            </div>
            <div class="edit-button" *ngIf="!isEditing">
                <app-button type="button" styles="primary" (click)="onEdit()">
                    Edit
                </app-button>
            </div>
            
            <!-- Save Button -->
            <div class="save-button" *ngIf="isEditing">
                <app-button type="button" styles="primary" (click)="saveEdit()">
                    Save
                </app-button>
            </div>

            <div class="cancel-button" *ngIf="isEditing">
                <app-button type="button" (onClick)="cancelEdit()" styles="fourth">
                    Cancel
                </app-button>
            </div>
        </div>

    </div>
</div>