<div class="history-container">
    <div class="history-header">
        <span>RECENT POSTS</span>
        <span class="clear">Clear</span>
    </div>

    <div class="history-content">
        <app-logocontent [logo]="logo" [title]='title' [ngStyle]="{color: 'black'}">

        </app-logocontent>

        <p>I have a budget of 40k USD I need to setup machine to host deepseek r1-...</p>

        <div class="history-footer">
            <span>65 upvotes</span>
            <span>.</span>
            <span>128 comments</span>
        </div>
    </div>
</div>