<div class="upvote-container" [ngStyle]="{
        backgroundColor: 
        upArrow  ?
        'red' : 
        (downArrow ? 
        'blue' :
        '')
    }">

    <i class="fa-solid fa-arrow-up comment-up" id="arrow-up" (click)="upvoteUp()"
        [ngStyle]="{color: upArrow? 'white':''}">
    </i>

    <span class="comment-span" id="arrow-span">
        {{count}}
    </span>

    <i class='fas fa-arrow-down
    comment-down' id="arrow-down" (click)="upvoteDown()" [ngStyle]="{color: downArrow? 'white':''}">
    </i>

</div>