@import '../../../../assets/scss/display';

.reddit-component{
    width: 100%;
    @include flex-column(row, 8px);
    .app-navbar{
        width: 30%;
    }
    
    .app-feeds{
        width: 75%;
    }
}