<div class="form-container">
    <div class="form">
        <div class="form-content">
            <span class="span-feeds">Edit Feeds</span>
            <div class="form-group">
                <div class="form-control">
                    <label for="logo">Logo</label>
                    <input type="text" [(ngModel)]="editedLogo" class="input-value">
                </div>
                <div class="form-control">
                    <label>Name</label>
                    <input type="text" [(ngModel)]="editedName" class="input-value">
                </div>
                <div class="form-control">
                    <label>Body</label>
                    <input type="text" [(ngModel)]="editedContent" class="input-value">
                </div>
            </div>
        </div>
        <div class="button-section">
            <app-button type="button" (onClick)="onSave()" styles="primary">
                Save
            </app-button>
            <app-button type="button" (onClick)="onCancel()" styles="fourth">
                Cancel
            </app-button>
        </div>
    </div>
</div>