<div class="form-container">
    <form [formGroup]="editFeedsForm" (ngSubmit)="onSave()" class="form">
        <div class="form-content">
            <span class="span-feeds">Edit Feeds</span>
            <div formArrayName="content">
                <div *ngFor="let item of formContent.controls; let i = index;" [formGroupName]="i" class="form-group">

                    <div class="form-control">
                        <label for="logo">Logo</label>
                        <input type="text" formControlName="logo"  class="input-value">

                    </div>
                    <div class="form-control">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="input-value">
                        
                    </div>
                    <div class="form-control">
                        <label>Body</label>
                        <input type="text" formControlName="content"  class="input-value">
                    </div>

                    <div class="form-control">
                        <label for="">Image</label>
                        <select formControlName="img" class="select-image">
                    
                            <ng-container *ngFor="let image of images">
                                <option [value]="image.img">{{image.img}}</option>
                            </ng-container>
                    
                        </select>
                    </div>
                </div>
            </div>
            <div class="button-section">
                <app-button type="submit" styles="primary">
                    Save
                </app-button>

                <app-button type="button" (onClick)="onCancel()" styles="fourth">
                    Cancel
                </app-button>
            </div>

        </div>
    </form>
</div>