<div class="form-container">
    <form [formGroup]="manageFeedsForm" (ngSubmit)="onManage()" class="form">
        <div class="form-content">
            <span class="span-feeds">Create New Feeds</span>
            <div formArrayName="content">
                <div *ngFor="let item of content.controls; let i = index;" [formGroupName]="i" class="form-group">
                    <p>Form no: {{ i + 1 }}</p>
                    <div class="form-control">
                        <label for="logo">Logo</label>
                        <input type="text" formControlName="logo" class="input-value">
                        <div class="error-logo"
                            *ngIf="getControl(i, 'logo')?.invalid && getControl(i, 'logo')?.touched">
                            <span *ngIf="getControl(i, 'logo')?.hasError('maxlength')">
                                *Invalid logo
                            </span>

                            <span *ngIf="getControl(i, 'logo')?.hasError('required')">
                                *Logo is required
                            </span>


                        </div>
                    </div>
                    <div class="form-control">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="input-value">
                        <div class="error-name" *ngIf="getControl(i, 'name')?.invalid && getControl(i, 'name')?.touched">

                        
                            <span *ngIf="getControl(i, 'name')?.hasError('required')">
                                *Name is required
                            </span>
                        
                        
                        </div>
                    </div>
                    <div class="form-control">
                        <label>Body</label>
                        <input type="text" formControlName="body" class="input-value">
                        <div class="error-body" *ngIf="getControl(i, 'body')?.invalid && getControl(i, 'body')?.touched">
                        
                            <span *ngIf="getControl(i, 'body')?.hasError('required')">
                                *Body is required
                            </span>
                        
                        
                        </div>
                    </div>

                    <div class="form-control">
                        <label>UpvoteCount</label>
                        <input type="number" formControlName="upvoteCount" class="input-value">
                    </div>
                    <div class="form-control">
                        <label>CommentCount</label>
                        <input type="number" formControlName="commentCount" class="input-value">
                    </div>
                </div>
            </div>
            <div class="button-section">
                <app-button type="button" (onClick)="addContent()" styles="primary">
                    Create Feeds
                </app-button>
                <app-button type="submit" styles="third">
                    Add Feeds
                </app-button>
            </div>

        </div>
    </form>
</div>