<div class="wrapper">
    <div class="not-found">
        <div class="error-container">
            <div class="number">
                <span>4<span class="zero">0</span>4</span>
            </div>
            <div class="content">
                SORRY, THERE'S
                <span>NOTHING HERE</span> 
            </div>
            <div class="button-content">
                <div class="button">
                    <app-button styles="fourth" (onClick)="goBack()">
                        Go Back
                    </app-button>
                </div>
            </div>
        </div>
    </div>
</div>