<div class="feed-container">
    <h3>News Feeds</h3>

    <div class="feeds-content" *ngFor="let item of data">
        <div class="feeds-header">
            <span class="span-logo">{{item.logo}}</span>
            <span class="span-title">{{'r/' + item.name}}</span>
        </div>

        <div class="feeds-object">
            <p>{{item.content}}</p>
            <img src={{item.img}} alt="">
        </div>

        <div class="comment-section">
            <app-upvotes>
                
            </app-upvotes>
        </div>
    </div>
</div>