@import '../../../assets/scss/display';
@import '../../../assets/scss/flex';

.feed-container {
  padding: 7px 14px 0 21px;
  border-left: 2px solid rgb(228, 234, 238);
  @include flex-column(column, 8px);
//   overflow-y: auto;

  .feeds-content {
    padding: 10px 5px 0 10px;
    border-radius: 5px;
    background: rgb(247 247 247);
    @include flex-column(column, 5px);

    .feeds-object {
      @include flex-column(column, 8px);

      img {
        width: 100%;
        outline: 1px solid rgb(117, 79, 79);
        border-radius: 5px;
      }
    }

    .comment-section {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      @include flex-column(row, 2rem);
      align-items: center;
    }
  }
}
